<h1>Detalhes sobre <%= @movie.title %></h1>

<div id="metadata">
  <ul id="detalhes">
    <li> Classificao indicativa: <%= @movie.rating %> </li>
    <li> Lancado em: <%= @movie.relase_date.strftime('%F') %> </li>
  </ul>
</div>

<div id = "descricao">
  <h2>Descricao:</h2>
  <p> <%= @movie.descricao %></p>
</div>

<%= link_to 'Edite esse filme', edit_movie_path(@movie), :class => 'btn' %>
<%= link_to 'Volte para a lista de filmes', movies_path, :class => 'btn btn-primary' %>

